<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>side meau</title>
</head>
<body>
    <div class="container-fluid">
   <!-- Side menu -->  
      <div class="sidebar-nav nav-collapse collapse">
        <div class="user_side clearfix">
          <img src="__PUBLIC__/Admin/photo/c.jpg" alt="Odinn god of Thunder">
          <h5>Odinn</h5>
          <a href="#"><i class="icon-cog"></i> Settings</a>        
        </div>

        <div class="accordion" id="accordion1">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_9FDDF6 collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse1"><i class="icon-reorder"></i> <span>数据统计与分析</span></a>
            </div>
            <div id="collapse1" class="accordion-body collapse">
              <div class="accordion-inner">
                <a class="accordion-toggle" href="{:U('Admin/Count/count')}"><i class="icon-rss"></i> 数据统计</a>
              </div>
            </div>
          </div>
        
          
          <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_9FDDF6 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="icon-reorder"></i> <span>用户信息</span></a>
            </div>
            <div id="collapse2" class="accordion-body collapse">
              <div class="accordion-inner">
                <a class="accordion-toggle" href="{:U('Admin/User/userlist')}"><i class="icon-rss"></i> 用户信息列表</a>
              </div>
            </div>
          </div>
        
       <div class="accordion" id="accordion3">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_9FDDF6 collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse3"><i class="icon-reorder"></i> <span>物品信息</span></a>
            </div>
            <div id="collapse3" class="accordion-body collapse">
              <div class="accordion-inner">
                <a class="accordion-toggle" href="{:U('Admin/Goods/goodslist')}"><i class="icon-rss"></i> 物品信息列表</a>
              </div>
            </div>
          </div>
        
       <div class="accordion" id="accordion4">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_9FDDF6 collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse4"><i class="icon-reorder"></i> <span>失物信息</span></a>
            </div>
            <div id="collapse4" class="accordion-body collapse">
              <div class="accordion-inner">
                <a class="accordion-toggle" href="{:U('Admin/Lost/lostlist')}"><i class="icon-rss"></i> 失物信息列表</a>
              </div>
            </div>
          </div>
        
         <div class="accordion" id="accordion5">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_9FDDF6 collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapse5"><i class="icon-reorder"></i> <span>招领信息</span></a>
            </div>
            <div id="collapse5" class="accordion-body collapse">
              <div class="accordion-inner">
                <a class="accordion-toggle" href="{:U('Admin/Find/findlist')}"><i class="icon-rss"></i> 招领信息列表</a>
              </div>
            </div>
          </div>
         </div>
        </div>
        </div>
        </div> 
        </div>
      </div>
      <!-- /Side menu -->







